name: Build and Push Docker Image

on:
  push:
    branches:
      - main

env:
  REPO_NAME: cymulate
  DOCKER_USER: tuatara
  TAG: cymulate-app
  MAJOR: 3
  MINOR: 0

jobs:
  build:
    name: Build Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ${{ env.DOCKER_USER }}/${{ env.REPO_NAME }}:${{ env.TAG }}-${{ github.run_id }}
            ${{ env.DOCKER_USER }}/${{ env.REPO_NAME }}:${{ env.TAG }}
          build-args: --force-rm
