name: Deploy Kind Kubernetes Cluster

on:
  push:
    branches:
      - main

jobs:
  kind-cluster-setup:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker
      uses: docker/setup-buildx-action@v2

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y curl sudo lsb-release

    - name: Install Kind
      run: |
        curl -Lo ./kind https://github.com/kubernetes-sigs/kind/releases/download/v0.18.0/kind-linux-amd64
        chmod +x ./kind
        sudo mv kind /usr/local/bin/

    - name: Create Kind Kubernetes cluster
      run: |
        kind create cluster --name github-actions-cluster

    - name: Set up kubectl
      run: |
        export KUBEVERSION=$(kubectl version --short | awk -Fv '/Server Version/ {print $3}')
        echo "KUBEVERSION=$KUBEVERSION"
        echo "KUBE_CONFIG=/home/runner/.kube/config" >> $GITHUB_ENV

    - name: Verify kubectl is working
      run: |
        kubectl cluster-info

    - name: install ingress controller
      run: |
        kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/deploy/static/provider/kind/deploy.yaml

    - name: Verify Ingress Controller is running
      run: |
        kubectl get pods -n ingress-nginx

    - name: Install Helm
      run: |
        curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

    - name: Verify Helm installation
      run: |
        helm version

    - name: 'Deploy Helm'
      run: |
        helm install cymulate-app -f ./charts/values.yaml ./charts
